.card {
  background-color: #404040;
  padding: 1rem;
}

.card h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: .5rem;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card ul li {
  color: #d1d5db;
  display: flex;
}

.card ul li svg {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  stroke: #f59e0b;
  position: relative;
  top: 1px;
  left: -5px;
}