@use "../../styles/mixins" as m;

.board {
  background-color: #d9ad7a;
  border: solid 20px #9e611f;
  width: 800px;
  height: 680px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}

@include m.small {
  .board {
    scale: .7;
  }
}

.board::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 40px;
  height: 100%;
  background-color: #9e611f;
}

.leftTable,
.rightTable {
  background-color: #d9ad7a;
  width: calc(50% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(100% - 250px * 2);
  position: relative;
}

.dice {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 3rem;
  pointer-events: none;

  &.black {
    color: #000;
  }
}

:where(.top, .bottom) {
  width: 100%;
  display: flex;
}

.board .top.reverse {
  transform: rotateX(180deg);
}

// "black": "⚫",
// "white": "⚪",