@use "./colors";
@use "./variables";
@import "./fonts.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

main {
  min-height: calc(100vh - 300px);
}

.container {
  width: 864px;
  margin: 0 auto;
}