.mainCard {
  background-color: #262626;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mainCard h2 {
  color: #f3f4f6;
  margin-bottom: 1.5rem;
  letter-spacing: -.025em;
  font-weight: 600;
  font-size: 1.6rem;
}