$gap-between-pieces: 2px;
$stack-margin: 25;
$stack-classes-names: second, third, fourth, last;

.baseStack {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gap-between-pieces;
}

@each $class-name in $stack-classes-names {
  .#{$class-name}Stack {
    position: absolute;
    left: 0;
    bottom: $stack-margin + px;
    display: flex;
    flex-direction: column;
    gap: $gap-between-pieces;
  }
}